.settings
.metadata
.checkstyle
.classpath
.settings
.project
bin
target
.pmd
.ruleset
.springBeans
eclipsebin
*.class
*.zip
*.gz
*.bak
.log
.idea
*.iml
.DS_Store
.vlt*
*.swp
*~
*.jar
*.orig
classes
.ruleset
gensrc
*.DS_Store